<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>like btn test</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
      .wrapper {
        display: grid;
        grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
      }
      
      .object-card {
        border: 2px solid #000;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="wrapper">
          {% for object in objects %}
            <a href="{% url 'object_detail' object.id %}" class="object-card">{{ object.name }}</a>
          {% endfor %}
        </div>
      </div>
    </main>
  </body>
</html>
